<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <ul>
    <li>
      <%= link_to cocktail.name, show_cocktail_path(cocktail) %>
    </li>
  </ul>
<% end %>

<i class="fas fa-plus"></i>
<%= link_to 'Create a new cocktail', cocktails_new_path %>



